<app-navbar></app-navbar>

<h1 class="text-center">MY PAYMENTS</h1>
<div class="d-flex justify-content-center mt-1" *ngFor="let payment of payments">
  <div class="card  mb-3" style="width: 840px;">
    <div class="row g-0" >
      <div class="col-md-8" >
        <div class="card-body">
          <h2 class="card-title">Payment Id: {{payment.paymentId }}</h2>
          <h2 class="card-title">Payment Name: {{payment.paymentAmount }}</h2>
          <h2 class="card-title">In Installments: {{payment.isFullPaid }}</h2>
          <h2 class="card-title">Total Amount: {{payment.totalBill }}</h2>
          <h2 class="card-title">Amount Due: {{payment.amountDue}}</h2>
          <h2 class="card-title">Payment Date: {{payment.paymentDate }}</h2>
          <h2 class="card-title">Course Id: {{payment.courseId }}</h2>
          <h2 class="card-title">Mentorship Id: {{payment.mentorshipId}}</h2>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="d-flex justify-content-start mt-1" >
  <button class="btn btn-primary ms-5" routerLink="">Go back</button>
  <!--  <button class="btn btn-primary ms-5" *ngIf="isLoggedIn" >Buy Course</button>-->
</div>

