<app-navbar></app-navbar>

<h1 class="text-center">Courses</h1>
<div class="d-flex justify-content-center mt-1" *ngFor="let payment of payments">
  <div class="card  mb-3" style="width: 840px;">
    <div class="row g-0" >
      <div class="col-md-4">
        <img  class="img-fluid m-2" width="250px" height="250px" alt="...">
      </div>
      <div class="col-md-8" >
        <div class="card-body">
          <h2 class="card-title">{{payment.paymentAmount }}</h2>

          <button
            (click)=" setCurrentCourseId(payment)"
            *ngIf="isLoggedIn" routerLink="" >Enroll now</button>

        </div>
      </div>
    </div>
  </div>
</div>
<div class="d-flex justify-content-start mt-1" >
  <button class="btn btn-primary ms-5" routerLink="">Go back</button>
  <!--  <button class="btn btn-primary ms-5" *ngIf="isLoggedIn" >Buy Course</button>-->
</div>

