<app-navbar></app-navbar>

<div>
  <h1 class="text-center m-5">
    <span> Admin DashBoard </span>
  </h1>
</div>
<div>
</div>
<div class="row d-flex justify-content-center">

  <div class="card col-4 m-2" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">View Courses</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <button class="btn btn-primary mt-2" routerLink="/courses">View Courses</button>
    </div>
  </div>

  <div class="card col-4 m-2" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">View Mentorship</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <button class="btn btn-primary mt-2" routerLink="/mentorship">View Mentorships</button>
    </div>
  </div>

  <div class="card col-4 m-2" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Assign Course</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <button class="btn btn-primary mt-2" routerLink="/adminAssignCourse">Assign Course</button>
    </div>
  </div>
</div>
<div class="row d-flex justify-content-center">
  <div class="card col-4 m-2" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Assign Mentorship</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <button class="btn btn-primary mt-2" routerLink="/adminAssignMentorships">Assign Mentorships</button>
    </div>
  </div>

  <div class="card col-4 m-2" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Create Mentorship</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <button class="btn btn-primary mt-2" routerLink="/adminCreateMentorship">Create Mentorships</button>
    </div>
  </div>

  <div class="card col-4 m-2" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Create Course</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <button class="btn btn-primary mt-2" routerLink="/adminCreateCourse">Create Course</button>
    </div>
  </div>

</div>
<div class="row d-flex justify-content-center">
  <div class="card col-4 m-2" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">View Courses</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <button class="btn btn-primary mt-2" routerLink="/adminViewStudents">View Students</button>
    </div>
  </div>

  <div class="card col-4 m-2" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">View Trainers</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <button class="btn btn-primary mt-2" routerLink="/adminViewTrainers">View Trainers</button>
    </div>
  </div>



</div>

<div class="d-flex justify-content-start mt-1" >
  <button class="btn btn-primary ms-5" routerLink="/trainer">Go back</button>
</div>
