<app-navbar></app-navbar>

<div>
  <h1>
    Admin DashBoard
  </h1>
</div>
<div>
  <button class="btn btn-primary mt-2" routerLink="/courses">View Courses</button>
  <button class="btn btn-primary mt-2" routerLink="/mentorship">View Mentorships</button>
  <button class="btn btn-primary mt-2" routerLink="/adminAssignCourse">Assign Course</button>
  <button class="btn btn-primary mt-2" routerLink="/adminAssignMentorships">Assign Mentorships</button>
  <button class="btn btn-primary mt-2" routerLink="/adminCreateMentorship">Create Mentorships</button>
  <button class="btn btn-primary mt-2" routerLink="/adminCreateCourse">Create Course</button>
  <button class="btn btn-primary mt-2" routerLink="/adminViewStudents">View Students</button>
  <button class="btn btn-primary mt-2" routerLink="/adminViewTrainers">View Trainers</button>

</div>
<div class="d-flex justify-content-start mt-1" >
  <button class="btn btn-primary ms-5" routerLink="/trainer">Go back</button>
</div>
