<div class="container">
  <div class="card myCard">
    <div class="card-header bg-dark text-white">
      <h1>User Registeration</h1>
    </div>
    <div class="card-body">
<!--
-->
      <form (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label>Email</label>
          <input [(ngModel)]="userData.email" [ngModelOptions]="{standalone: true}"  type="text" class="form-control" >
        </div>
        <div class="form-group">
          <label>Password</label>
          <input [(ngModel)]="userData.password" [ngModelOptions]="{standalone: true}" type="password" class="form-control" >
        </div>
        <div class="form-group">
          <label>First Name</label>
          <input [(ngModel)]="userData.firstName" [ngModelOptions]="{standalone: true}"  type="text" class="form-control" >
        </div>
        <div class="form-group">
          <label>Last Name</label>
          <input [(ngModel)]="userData.lastName" [ngModelOptions]="{standalone: true}"  type="text" class="form-control" >
        </div>
        <div class="form-group">
          <label>Contact Number</label>
          <input [(ngModel)]="userData.contactNumber" [ngModelOptions]="{standalone: true}"  type="text" class="form-control" >
        </div>
<!--        <div class="form-group">-->
<!--          <label>User Type</label>-->
<!--          <input [(ngModel)]="userData.usertype" [ngModelOptions]="{standalone: true}"  type="text" class="form-control" >-->
<!--        </div>-->
        <div class="btn-group mt-2 mb-2" data-toggle="buttons">
          <label >Select User Type</label>
<!--          <label class=" active ms-2">-->
<!--            <input type="radio" name="options" id="option1" [value]="ADMIN" [(ngModel)]="userData.usertype"> Admin-->
<!--          </label>-->
          <label class="ms-1">
            <input type="radio" name="options" id="option2" [value]="STUDENT" [(ngModel)]="userData.usertype"> Student
          </label>
          <label class="ms-1">
            <input type="radio" name="options" id="option3" [value]="TRAINER" [(ngModel)]="userData.usertype" > Trainer
          </label>
        </div>


        <div class="form-group">
          <button type="submit" class="btn btn-primary">Register</button>
          <p class="text-center">  have an account? <a routerLink="/login">Login</a> </p>
        </div>
      </form>
    </div>
  </div>
</div>

