<app-navbar></app-navbar>

<div>
  <h1>
    {{student.firstName}} DashBoard
  </h1>
</div>
<div>
  <button class="btn btn-primary mt-2" routerLink="/studentProfile" >My Profile</button>
  <button class="btn btn-primary mt-2" routerLink="/courses">View Courses</button>
  <button class="btn btn-primary mt-2" routerLink="/mentorship">View Mentorships</button>
  <button class="btn btn-primary mt-2" routerLink="/studentPayments">My Payments</button>
  <button class="btn btn-primary mt-2" routerLink="/studentEnrollments">My Enrollments</button>


</div>
<div class="d-flex justify-content-start mt-1" >
  <button class="btn btn-primary ms-5" routerLink="/trainer">Go back</button>
</div>



