<app-navbar></app-navbar>
<div style="height: 90%">
  <h1 class="text-center">ALL STUDENTS</h1>
  <div class="d-flex justify-content-center mt-1" *ngFor="let student of students">
    <div class="card  mb-3" style="width: 840px;">
      <div class="row g-0" >

        <div class="col-md-8" >
          <div class="card-body">
            <h2 class="card-title">Student Id: {{student.studentId }}</h2>
            <p class="card-text">Student first name :{{student.firstName}} </p>
            <p class="card-text">Student last name :{{student.lastName}} </p>
            <p class="card-text">email:{{student.email}} </p>
            <p class="card-text"> status:{{student.status}} </p>
          </div>
        </div>
      </div>
    </div>
  </div>
<div class="d-flex justify-content-start mt-1" >
  <button class="btn btn-primary ms-5" routerLink="/student">Go back</button>
</div>
</div>
