<app-navbar></app-navbar>

<div class="container " style="height: 90%">
  <div class="card myCard">
    <div class="card-header bg-dark text-white">
      <h1>My Profile</h1>
    </div>
    <div class="card-body">
      <!--
      -->
      <form>
        <div class="form-group">
          <label>Email</label>
          <input [(ngModel)]="student.email" [ngModelOptions]="{standalone: true}"  type="text" class="form-control" readonly >
        </div>
        <div class="form-group">
          <label>Password</label>
          <input [(ngModel)]="student.password" [ngModelOptions]="{standalone: true}" type="password" class="form-control" readonly>
          <button class="btn btn-outline-primary m-1" [value]="true" [ngModel]="updatePassword" (click)="updatePass()">Update Password</button>
        </div>
        <div class="form-group" *ngIf="updatePassword">
          <label>New Password</label>
          <input [(ngModel)]="newPass" [ngModelOptions]="{standalone: true}" type="password" class="form-control">
          <button class="btn btn-outline-primary m-1" (click)="changePassword()">Change Password</button>
        </div>

        <div class="form-group">
          <label>First Name</label>
          <input [(ngModel)]="student.firstName" [ngModelOptions]="{standalone: true}"  type="text" class="form-control" readonly>
        </div>
        <div class="form-group">
          <label>Last Name</label>
          <input [(ngModel)]="student.lastName" [ngModelOptions]="{standalone: true}"  type="text" class="form-control" readonly>
        </div>
        <div class="form-group">
          <label>Contact Number</label>
          <input [(ngModel)]="student.contactNumber" [ngModelOptions]="{standalone: true}"  type="text" class="form-control" readonly >
        </div>
      </form>
    </div>
  </div>
</div>

